<strong>Olá, {{ provider }}</strong>
<p>Seja bem vindo ao GymPoint, confira os detalhes de sua matricula abaixo:</p>
<p>
  <strong>Plano Selecionado: </strong> {{ plan }} <br />
  <strong>Data da Matricula: </strong> {{ date }} <br />
  <strong>Validade do Plano: </strong> {{ planExpiration }} <br />
  <strong>Valor total: </strong> {{ price }} <br />
  <br />
  <small>
    Obrigado por se matricular no GymPoint
  </small>
</p>