<strong>Olá, {{ provider }}</strong>
<p>Seja bem vindo ao GymPoint, confira os detalhes de sua matricula abaixo:</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Data/hora: </strong> {{ date }} <br />
  <strong>Validade do Plano: </strong> {{ planExpiration }} <br />
  <strong>Valor Cobrado: </strong> {{ price }} <br />
  <br />
  <small>
    Obrigado por se matricular através do GymPoint
  </small>
</p>